<section class="customer-table">
  <div style="display: flex; justify-content: space-between">
    <button mat-flat-button (click)="openFormDialog()">افزودن مشتری</button>
    <button mat-flat-button [disabled]="!selectedItem.length" (click)="deleteSelected()">پاک کردن انتخاب شده ها</button>
  </div>
  <section class="grid-container mat-elevation-z3">
    <mat-table dir="rtl" [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef><mat-checkbox (change)="selectAll($event.checked)"></mat-checkbox> #</mat-header-cell>
        <mat-cell *matCellDef="let row, let i = index">
          <mat-checkbox (change)="selectItem($event.checked, row.id)" [checked]="selectedItem.includes(row.id)"></mat-checkbox>
          {{i+1}}
        </mat-cell>
      </ng-container>

      <form [formGroup]="filterForm">
        <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef  mat-sort-header>
            <div>
              <div>نام</div>
              <input style="width: 100%" formControlName="firstName">
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">{{row?.firstName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef  mat-sort-header>
            <div>
              <div>نام خانوادگی</div>
              <input style="width: 100%" formControlName="lastName">
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">{{row?.lastName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="gender">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <div>
              <div>جنسیت</div>
              <select style="width: 100%" formControlName="gender">
                <option></option>
                <option value="مرد">مرد</option>
                <option value="زن">زن</option>
              </select>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">{{row?.gender}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="birthDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>تاریخ تولد</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row?.birthDate | date}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="nationalCode">
          <mat-header-cell *matHeaderCellDef mat-sort-header>کد ملی</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row?.nationalCode}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="mobile">
          <mat-header-cell *matHeaderCellDef mat-sort-header>موبایل</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row?.mobile}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="company">
          <mat-header-cell *matHeaderCellDef mat-sort-header>کارگزاری</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row?.company}}</mat-cell>
        </ng-container>
      </form>

      <ng-container matColumnDef="opr">
        <mat-header-cell *matHeaderCellDef>عملیات</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-icon (click)="deleteRow(row)">delete</mat-icon>
          <mat-icon (click)="openFormDialog(row)">edit</mat-icon>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row [style]="'display: '+(loading ? 'none' : 'flex')" *matRowDef="let row; columns: displayedColumns;" (dblclick)="changeParentColor(row.gender)"></mat-row>
    </mat-table>
    <mat-spinner *ngIf="loading" [diameter]="70" style="margin: 10px auto"></mat-spinner>
    <mat-paginator showFirstLastButtons
                   #paginator
                   [length]="numOfRows"
                   [pageSizeOptions]="[10, 15, 25, 50]"
                   (page)="setPagination($event)"></mat-paginator>
  </section>
</section>
